  <% @post.comments.each do |comment| %>
    <% if comment.id.present? %>
    <div class="comment">
      <div class="author">
        <%= comment.name %> <%= t("commented on") %> <div class="time"><%= comment.created_at %>:</div>
      </div>
    
      <div class="content">
        <%= comment.content %>
      </div>
    </div>
    <% end %>
  <% end %>

