body {
  background: #335577;
  margin:0;
  padding: 0;
  font: 14px/1.4 "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
}

.header, .footer {
  float: left;
  width: 100%;
  color: white;
  font-weight: bold;
  text-align: center;
  background: #002255;
}

.header {
  font-size: 30px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.footer {

}

.content {
  width: 800px;
  float: left;
}

.posts {
  width: 700px;
  height: auto;
  margin: 20px auto;
}

.posts h2 {
  background: #dddddd;
  padding: 10px;
}

.posts .post {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 5px 5px 5px #113355;
  border-radius: 10px;
  width: 100%;
  background-color: white;
  float: left;
  text-align: center;
  margin: 10px auto;

}

.posts .post_separator {

}

.post .publication_date{
  
}

.post .description{
  
}


.post .publication_date {
  padding: 2px; 10px;
}

.pagination {
  margin: 5px;
  float: right;
}

.pagination span {
  background: white;
  min-width: 20px;
  float: left;
  padding: 5px;
  margin-right: 5px;
  text-align: center;
  border: #557799 solid 1px;
  color:#557799 ;
}

.pagination span.current {
  background: #557799;
  color: white;
}

.pagination a {
  color:#557799 ;
}

